
.card-maker{

    position: absolute;
    right: 0;
    margin: 5px;
    padding: 5px;
    color: var(--white-color);
    background-color: var(--main-color);
    border-radius: 2px;
}

.card-body{
    text-align: center;
}